<!--nav.html -->
<nav class="navbarnavbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"> </span> <span class="icon-bar"> </span> <span
					class="icon-bar"> </span>
			</button>
			<img src="/img/student-48.png" alt="logo" />
		</div>

		<div class="collapse navbar-collapse" id="myNavbar">

			<!-- Opciones del admin  -->

			<ul class="navnavbar-nav">
				<li class="active"><a href="/user/list">Ver Usuarios</a></li>
			</ul>

			<!-- Opciones del usuario -->

			<ul class="nav navbar-nav">
				<li class="active"><a href="/product/add">Nueva Oferta</a></li>
				<li><a href="/product/list">Mis ofertas</a></li>
				<li><a href="/product/bought">Ofertas compradas</a></li>
			</ul>

			<!-- Opciones registro, login,logout -->

			<ul class="navnavbar-navnavbar-right">
				<li><a href="/signup"> <span
						class="glyphiconglyphicon-user"> </span>Registrate
				</a></li>
				<li><a href="/login"> <span
						class="glyphiconglyphicon-log-in"> </span>Identifícate
				</a></li>
				<li><a href="/logout"> <span
						class="glyphicon glyphicon-log-out"></span> Desconectar
				</a></li>
			</ul>
		</div>
	</div>
</nav>