<!--nav.html -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#myNavbar">
				<span class="icon-bar"> </span> 
				<span class="icon-bar"> </span> 
				<span class="icon-bar"> </span>
			</button>
			<img src="/img/student-48.png" alt="logo" />
		</div>

		<div class="collapse navbar-collapse" id="myNavbar">

			<!-- Opciones del admin  -->

			<ul class="nav navbar-nav" sec:authorize="isAuthenticated()">
				<li class="active">
					<a href="/home">Home</a>
				</li>
				<li id="user-menu" sec:authorize="hasRole('ROLE_ADMIN')">
					<a href="/user/list" th:text="#{nav.admin.verUsuario.message}"></a>
				</li>
			
			<!-- Opciones del usuario -->
				<li id="offers-menu" class="dropdown" sec:authorize="hasRole('ROLE_USUARIO')">
					<a class="dropdown-toggle" data-toggle="dropdown" th:text="#{nav.user.gestionOfertas.message}">Gestión de Ofertas<span class="caret"></span> </a>
					<ul class="dropdown-menu" >
						<li >
							<a href="/offer/add" th:text="#{nav.user.nuevaOferta.message}"></a>
						</li>
						<li>
							<a href="/offer/list" th:text="#{nav.user.misOfertas.message}"></a>
						</li>
						<li>
							<a href="/offer/boughtList" th:text="#{nav.user.ofertasCompradas.message}"></a>
						</li>
						
						
						
					</ul>
				</li>
				<li id="usuario-menu" class="dropdown" sec:authorize="hasRole('ROLE_USUARIO')">
					<a class="dropdown-toggle" data-toggle="dropdown">Perfil<span class="caret"></span> </a>
					<ul  class="dropdown-menu">
						<li   th:text=" 'Usuario:'+${activeUser.email}"></li>
						<li  th:text=" 'Dinero:'+${activeUser.money}+'€'" ></li>
					</ul>
				</li>
				
			</ul>
			
			<!-- Opciones registro, login,logout,cambio de idioma -->

			<ul class="nav navbar-nav navbar-right">
			
				<li class="dropdown">
					<a id="btnLanguage" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"aria-expanded="false">
					<span th:text="#{nav.idioma.message}"></span><span class="caret"></span></a>
					
					<ul id="languageDropdownMenuButton" class="dropdown-menu">
						<li>
							<a id="btnEnglish" value="EN"><img th:src="@{/img/if_uk_flag.png}"style="border: 0; float: left; margin-right: 15px"/>
							<span th:text="#{nav.idioma.en.message}"></span></a>
						</li>
						
						<li>
							<a id="btnSpanish"value="ES"><img th:src="@{/img/if_spain_flag.png}"style="border: 0; float: left; margin-right: 15px"/>
							<span th:text="#{nav.idioma.es.message}"></span></a>
						</li>
					</ul>
				</li>
			
				<li sec:authorize="!isAuthenticated()">
					<a href="/signup" th:text="#{nav.register.message}"> <span class="glyphiconglyphicon-user"> </span></a>
				</li>
				<li sec:authorize="!isAuthenticated()">
					<a href="/login" th:text="#{nav.login.message}"> <span class="glyphiconglyphicon-log-in"> </span></a>
				</li>
				<li sec:authorize="isAuthenticated()" id="logout">	
					<a href="/logout" th:text="#{nav.logout.message}"> <span class="glyphicon glyphicon-log-out"></span> </a>
				</li>
			</ul>
		</div>
	</div>
</nav>